{
  "topology": [50,42, 10, 42, 50],
  "learningRate": 0.05,
  "momentum": 1.0,
  "bias": 1.0,
  "epoch": 100,
  "trainingData": "/home/yuriy/Documents/test.csv",
  "labelData": "/home/yuriy/Documents/test.csv",
  "weightsFile": "/home/yuriy/Documents/1.json"
}
